#parent{
    background-color: black;
    color: greenyellow;
    padding:20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
body{
    /* background-color:black; */
    display: flex;
    border: 2px solid white;
   height: 400px;
   width:300px;
    justify-content: space-around;
    text-align: center;
    
}
#mother{
    background-color: black;
    height: 400px;
    width:300px;
}




#first{
    background-color: rgb(128, 128, 128);
    
}
#second{
    background-color: gray;
   
}
#btn{
    padding:10px;
    color:black;
    background-color: gray;
    width:60px;
}
#btn-2{
    padding:10px;
    width:60px;
    color:black;
    background-color: gray;
    gap:10px;
    margin:10px;
}
#btn-3{
    padding:10px;
    width:60px;
    color:black;
    background-color: gray;
    gap:10px;
}
#btn-4{
    padding:10px;
    gap:10px;
    width:60px;
    color:black;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    margin:10px
}
#result{
    background-color: gray;
}
#clear{
    background-color: gray;
    color: black;
    padding: 10px;
    margin:10px;
}